params {
    library = 'examples/crispr_guides/data/yusa_library.csv'
    samples = 'examples/workflows/nextflow/samples.tsv'
    guide_start = 23
    guide_length = 19
    k = 1
    metric = 'levenshtein'
    indel_window = 1
    outdir = 'examples/workflows/nextflow/output'
}

process {
    cpus = 1
}

